@import url('https://fonts.googleapis.com/css2?family=Big+Shoulders+Display:wght@700&family=Inter:wght@400;700&family=Outfit:wght@300;400;600&display=swap');

/* Custom properties */
:root {
    --clr-primary: hsl(215, 51%, 70%);
    --clr-secondary: hsl(178, 100%, 50%);

    --clr-neutral-main-bg: hsl(217, 54%, 11%);
    --clr-neutral-card-bg: hsl(216, 50%, 16%);
    --clr-neutral-line: hsl(215, 32%, 27%);
    --clr-neutral-white: hsl(0, 0%, 100%);

    --ff-general: "Outfit", sans-serif;
    --fw-light: 300;
    --fw-regular: 400;
    --fw-semibold: 600;
}

/* CSS reset */
* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

html,
body {
    height: 100%;
}

body {
    line-height: 1.5;
}

img,
picture,
video,
canvas,
svg {
    display: block;
    max-width: 100%;
}

input,
button,
textarea,
select {
    font: inherit;
}

p,
h1,
h2,
h3,
h4,
h5,
h6 {
    overflow-wrap: break-word;
}

/* General styling */
body {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 5em;
    font-size: 1.125em;
    font-family: var(--ff-general);
    font-weight: var(--fw-regular);
    background-color: var(--clr-neutral-main-bg);
}

.card__content {
    background-color: var(--clr-neutral-card-bg);
    padding: 1.5em;
    max-width: 375px;
}

.card__content,
.card__picture {
    border-radius: .625em;
    overflow: hidden;
}

.card__picture {
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
}

.card__picture-overlay {
    top: 0;
    min-width: 100%;
    min-height: 100%;
}

.card__picture-overlay,
.card__view-icon {
    position: absolute;
}

.card__view-icon {
    visibility: hidden;
}

.card__info {
    flex-direction: column;
    gap: 0.5em;
    padding-top: 1em;
}

.card__info,
.card__flex-group,
.card__ethereum-count,
.card__time-left {
    display: flex;
}

.card__title {
    font-size: 1.25em;
    font-weight: var(--fw-semibold);
}

.card__title,
.card__author-name {
    color: var(--clr-neutral-white);
}

.card__text,
.card__author,
.card__time-left {
    color: var(--clr-primary);
    font-weight: var(--fw-light);
}

.card__text,
.card__author,
.card__ethereum-count,
.card__time-left {
    font-size: 0.8em;
}

.card__flex-group {
    justify-content: space-between;
}

.card__flex-group > * {
    align-items: center;
    gap: 0.5em;
}

.card__ethereum-count {
    color: var(--clr-secondary);
}

.card__author {
    display: flex;
    align-items: center;
    gap: 1em;
    padding-top: 1em;
    border-top: 1px solid var(--clr-neutral-line);
}

.card__author img {
    max-height: 30px;
    border: 1px solid var(--clr-neutral-white);
    border-radius: 50%;
}

.card__picture-overlay:hover {
    background-color: var(--clr-secondary);
    opacity: 0.5;
}

.card__picture:hover .card__view-icon {
    visibility: visible;
}

.card__title:hover,
.card__author-name:hover {
    cursor: pointer;
    color: var(--clr-secondary);
}

.attribution {
    font-size: 11px;
    text-align: center;
}

.attribution a {
    color: hsl(228, 45%, 44%);
}